# WordPress core files
/wp-admin/
/wp-includes/
/wp-content/index.php
/wp-content/languages/
/wp-content/plugins/
/wp-content/themes/twenty*/
!/wp-content/themes/airline-mockup/
/wp-content/upgrade/
/wp-content/uploads/

# WordPress config and other files
wp-config.php
wp-config-sample.php
wp-load.php
wp-blog-header.php
wp-cron.php
wp-links-opml.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

license.txt
readme.html

# WordPress cache and logs
/wp-content/cache/
/wp-content/backups/
*.log

# Other common ignores
.DS_Store
Thumbs.db